.projects {
    background: linear-gradient(#1e1c25, #322755);
    text-align: center;
    flex-direction: column;
    height: auto;

}

.projectbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 300px;
    justify-content: center;
    border: solid 1px #439ae2;
    box-shadow: 0 0 10px 5px rgba(54, 149, 201, 0.10);
    border-radius: 15px;
    color: white;
    margin: 30px;
}

.img-fluids {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

@media screen and (min-width: 1024px) {
    .projects {
        height: auto;
        /* Change height to auto */
        display: flex;
        padding: 0 40px;
        align-items: center;
        justify-content: center;

    }

    .projectsmobile {
        padding: 0 30px;
    }


}