.footer {
    background-color: #1b1826;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.icon {
    font-size: 24px;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #007bff;
}