.experience {
    background: linear-gradient(#28283d, #1e1c25);
    padding: 80px 300px 0 300px;
    height: auto;

}

.boxes {
    background-color: transparent;
    border: solid 1px #439ae2;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(54, 149, 201, 0.10);
    cursor: pointer;
}

.boxdetails {
    margin-bottom: 0;

}

.newboxes {
    font-size: small;
}

.newbox {
    margin-bottom: 10px;
}

.boxinfosys {
    display: flex;
}

.box-content {
    text-align: left;
}

.company-logo {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    border-radius: 10px;
}

.companyName {
    font-size: 1rem;
    color: grey;
}

.companyDate {
    font-size: 0.8rem;
    color: rgb(204, 183, 183);
}

.companyDescription {
    font-size: 1rem;
    color: rgb(228, 228, 228);
}

.hidden-img {
    width: 80px;
    height: 80px;
    margin-left: 35px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
    .experience {
        padding: 50px 40px;
    }

    .companyDescription {
        font-size: 0.6rem;
    }

    .companyDate {
        font-size: 0.6rem;
    }

    .companyName {
        font-size: 0.9rem;
    }

    .boxdetails {
        font-size: 0.9rem;
    }



    @media screen and (max-width: 767px) {

        /* Phone width */
        .boxes {
            height: 600px;
            /* Adjust the height for phones */
        }
    }
}